<!DOCTYPE html>
<html>
    <head>
        <title>DDSS PA2 - Part 1.1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .messages {
              padding: 8px;
              background-color: white;
              color: red;
            }
          </style>

    </head>




    <body>
        

        <div align="center">

        <div align="center">
            
            <h1>Design and Development of Secure Software</h1>
            <h2>Practical Assignment #2 - Part 1.1<br><br>Login Form</h2>
 
            <a href="\">Home</a> <br /> 
            <br>


            <form action="/part1_vulnerable">
                <table  border="1" cellpadding="1" style="width: 400px; background-color:#f1f1f1">
                    <thead>
                        <tr>
                            <th colspan="2"><b>Part 1.0 - Vulnerable Form</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td><input type="text" placeholder="Enter Username" name="v_username" required autocomplete="username"></td>
                        </tr>
                        <tr>
                            <td><label>Password</label> </td>
                            <td><input type="password" placeholder="Enter Password" name="v_password" required autocomplete="current-password" > </td>
                        </tr>
                        <tr>
                            <td><label>Remember me</label></td>
                            <td><input  type="checkbox" checked="checked" name="v_remember"></td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2"><button type="submit">Login</button></td>
                        </tr>
                    </tbody>
                </table>
            </form> 
            
            {% if message_v %}
                <div class="messages">{{ message_v }}</div>
            {% endif %}


            <br>
            <br>

            <form action="/part1_correct" method="post" >
                <table  style="width: 400px ; background-color:#f19191" border="1" cellpadding="1">
                    <thead>
                        <tr>
                            <th colspan="2"><b>Part 1.1 - Correct Form</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td><input type="text" pattern="[A-Za-z0-9]+" placeholder="Enter Username" name="c_username" required minlength="4" autocomplete="off" title="Must contain at least 4 or more characters"></td>
                        </tr>
                        <tr>
                            <td><label>Password</label> </td>
                            <td><input type="password" pattern="[A-Za-z0-9!@]+" placeholder="Enter Password" name="c_password" required minlength="12" autocomplete="off" title="Must contain at least one  number and one uppercase and lowercase letter, one @, one !, and at least 12 or more characters"> </td>
                        </tr>
                        <tr>
                            <td><label>One Time Password</label></td>
                            <td><input  type="number" placeholder="Enter One Time Password from Google Authenticator" name="c_otp" required length="6" autocomplete="off" title="Must check the OTP on Google authenticator for this user on this APP"></td>
                        </tr>
                        <tr>
                            <td><label>Remember me</label></td>
                            <input type='hidden' value='off' name='c_remember'>
                            <td><input  type="checkbox" checked="checked" name="c_remember"></td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2"><button type="submit">Login</button></td>
                        </tr>

                    </tbody>
                </table>
            </form> 
            
            {% if message_c %}
                <div class="messages">{{ message_c }}</div>
            {% endif %}
        </div>

        

    </body>

</html>
